---
import PageLayout from '~/layouts/PageLayout.astro';
---

<PageLayout metadata={{ title: 'Experiencia Arqueológica Quininí' }}>
  <div class="flex flex-col items-center justify-center">
    <div class="max-w-3xl">
      <h1 class="text-3xl font-bold tracking-tight sm:text-4xl">Experiencia Arqueológica Quininí</h1>
      <p class="mt-4 text-lg text-muted dark:text-slate-400">
        En esta ruta, exploraremos la región de Quininí, una región que se encuentra en el centro de la frontera entre
        Colombia y Ecuador. Esta ruta se enfoca en la conservación de la biodiversidad, el desarrollo de procesos de
        ecoturismo sostenible y la educación ambiental.
      </p>
    </div>
  </div></PageLayout
>
